In [1]:
import pandas as pd

# Charger le fichier CSV "data" dans un DataFrame nommé "df"
df = pd.read_csv("translated_enriched_insurance_data.csv")

# Afficher les premières lignes pour vérifier le contenu
df.head()

C:\Users\zinii\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

,Age,Education_Level,Occupation,Number_of_Dependents,Location,Work_Experience,Marital_Status,Employment_Status,Household_Size,Homeownership_Status,...,Insurance_Type_Currently_Held,Claims_History_Count,Customer_Tenure_Years,Is_Premium_Client,Preferred_Contact_Channel,Last_Interaction_Date,Has_Car,Has_Kids,Recent_Life_Event,Event_Date
0,56,Master's,Technology,5,Urban,21,Married,Full-time,7,Own,...,"['Health', 'Auto', 'Life']",1,14,False,Phone,2025-03-06 13:12:51.533512,True,True,New Baby,2024-11-18 13:12:51.589009
1,69,High School,Finance,0,Urban,4,Single,Full-time,7,Own,...,"['Life', 'Auto', 'Health']",0,4,True,Email,2025-03-07 13:12:51.533538,False,False,New Baby,2023-03-13 13:12:51.589033
2,46,Bachelor's,Technology,1,Urban,1,Single,Full-time,7,Own,...,['None'],4,10,True,SMS,2024-05-18 13:12:51.533542,False,True,Marriage,2024-11-02 13:12:51.589038
3,32,High School,Others,2,Urban,32,Married,Full-time,1,Own,...,['None'],0,2,False,Email,2025-01-21 13:12:51.533545,False,True,Marriage,2022-11-17 13:12:51.589043
4,60,Bachelor's,Finance,3,Urban,15,Married,Self-employed,4,Own,...,['Health'],3,5,True,Customer Portal,2024-12-20 13:12:51.533548,False,True,Moved,2023-01-04 13:12:51.589048

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Age                             10000 non-null  int64
 1   Education_Level                 10000 non-null  object
 2   Occupation                      10000 non-null  object
 3   Number_of_Dependents            10000 non-null  int64
 4   Location                        10000 non-null  object
 5   Work_Experience                 10000 non-null  int64
 6   Marital_Status                  10000 non-null  object
 7   Employment_Status               10000 non-null  object
 8   Household_Size                  10000 non-null  int64
 9   Homeownership_Status            10000 non-null  object
 10  Type_of_Housing                 10000 non-null  object
 11  Gender                          10000 non-null  object
 12  Primary_Mode_of_Transportation  10000 non-null  object
 13  Annual_Income                   10000 non-null  int64
 14  Client_ID                       10000 non-null  object
 15  Insurance_Type_Currently_Held   10000 non-null  object
 16  Claims_History_Count            10000 non-null  int64
 17  Customer_Tenure_Years           10000 non-null  int64
 18  Is_Premium_Client               10000 non-null  bool
 19  Preferred_Contact_Channel       10000 non-null  object
 20  Last_Interaction_Date           10000 non-null  object
 21  Has_Car                         10000 non-null  bool
 22  Has_Kids                        10000 non-null  bool
 23  Recent_Life_Event               8051 non-null   object
 24  Event_Date                      10000 non-null  object
dtypes: bool(3), int64(7), object(15)
memory usage: 1.7+ MB

In [3]:
df.shape

(10000, 25)

In [6]:
df.columns.tolist()

['Age',
 'Education_Level',
 'Occupation',
 'Number_of_Dependents',
 'Location',
 'Work_Experience',
 'Marital_Status',
 'Employment_Status',
 'Household_Size',
 'Homeownership_Status',
 'Type_of_Housing',
 'Gender',
 'Primary_Mode_of_Transportation',
 'Annual_Income',
 'Client_ID',
 'Insurance_Type_Currently_Held',
 'Claims_History_Count',
 'Customer_Tenure_Years',
 'Is_Premium_Client',
 'Preferred_Contact_Channel',
 'Last_Interaction_Date',
 'Has_Car',
 'Has_Kids',
 'Recent_Life_Event',
 'Event_Date']